@tailwind base;
@tailwind components;
@tailwind utilities;

.code {
    color-scheme: dark;
}

.link-box > a {
    @apply text-indigo-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10;
}

.mobile-link-box > a {
    @apply block rounded-md px-3 py-2 text-base text-gray-900 font-medium hover:bg-gray-100 hover:text-gray-800;
}

.active-header {
    @apply bg-gray-800 text-gray-100 font-semibold;
}

.inactive-header {
    @apply bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-gray-100;
}

.brightness-on-hover > img {
    @apply hover:brightness-75 transition-all duration-100;
}

/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

.hljs {
    color: #abb2bf;
    background: #1e293b;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

.my-button {
    padding: 0.75rem;
    background-color: rgb(134 239 172);
    border-radius: 0.25rem;
    margin: 0 auto;
    transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
}

.my-button:hover {
    transform: scale(1.25);
    background-color: #22c55e;
    border-radius: 0.75rem;
}

.my-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-shadow) rgb(196 181 253);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 5px rgb(196 181 253);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.outer-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    background-color: lightcoral;
    width: 8rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    display: flex;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-bar {
    background-color: lightblue;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    background-color: lightgreen;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: mediumpurple;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}